body {
    margin: 200px;
}



#square {
    height: 300px;
    width: 400px;
    border: solid 2px black;
    background-color: blue;
}

#circle {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 100px 150px;
}

#rectangle {
    height: 300px;
    width: 600px;
    border: solid 2px black;
    background-color: aqua;
}

#oval {
    height: 200px;
    width: 90px;
    background-color: brown;
    border-radius: 50%;
    margin: 100px 150px;
}

#triangle {
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;

}

#six-pointed-star{
    --star-color:#0038b8;
    --sqrt-3:1.73205080757;
margin: 0 auto;
    font-size:10em;
    width: 0;
    height: 0;
    position:relative;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: calc( 1em * var(--sqrt-3) ) solid var(--star-color);

}

#six-pointed-star:after{
    content:"";
    position:absolute;
    width: 0;
    height: 0;
    left:-1em;
    top:calc( 1em * var(--sqrt-3) / 3 );
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: calc( 1em * var(--sqrt-3)  ) solid var(--star-color);
}